<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/createEdit.css">
</head>
<body>
<% include ../partials/navbar %>
<div class="ui main text container" id="privSect">
    <h1>Edit an Experience.</h1>
    <div class="ui top attached segment">
        <div class="ui divided items">
        <% if(experiences) { %>
          <% experiences.reverse().forEach(function(experience) { %>
                <div class="item">
                    <div class="image">
                        <img src="<%= experience.image %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/edit/experiences/<%= experience._id %>"><%= experience.name %></a>
                        <div class="meta">
                            <span><%= experience.sub %></span>
                        </div>
                        <div class="description">
                            <p><%- experience.description %></p>
                        </div>
                        <div class="extra">
                            <a href="/edit/experiences/<%= experience._id %>" class="ui floated basic blue button">
                              Edit <i class="right chevron icon"></i>
                            </a>
                        </div>
                        <div class="extra">
                            <form class="deleteForm" action="/edit/experiences/<%= experience._id %>?_method=DELETE" method="POST">
                                <button class="ui floated basic red button">Delete <i class="right chevron icon"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
        </div>
    </div>
    <a href="/">Back</a>
</div>
